<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="all">
    <main>
      <h1>Monster school</h1>
  
      <ion-img src="../assets/EyeGG.png"></ion-img>
  
      <p>The goal of the Monster School series is to help children learn in a manner that works for them and at their own pace. This is going to be achieved by recording what the child is doing well with, and where they need more practice. After those spots are identified, the materials for the games are ajusted to suit those individual needs.

          The other approach that is being incroperated into the system is appealing to the different ways of learning. Games for each major subject are presented in a way that uses audio, logic, visual, verbal methods. The only learning style that cannot be achieved by simply playing the games is interpresonal learning.
          
          Each of the major school subjects such as reading, science, and art are explored through these games. It is not designed to replace classroom learning, but is designed to suppliment it and help encourage critical thinking. Some of the games are explored in the next section.</p>
  
    </main>
  </ion-content>