<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="all">
  <main>
    <h1>About Me</h1>

    <ion-img src="../assets/me.jpg"></ion-img>

    <p>My name is DeLaney Jones, and I am studing at Lewis-Clark State College. I will graduate in 2020 with an Associates in Web Design and a Bachelors in Computer Science. Currently I work for Dr. Seth Long as a Research Assistant. We are working on a program called CASTER (Computer Assisted Segmentation Tool Enviroment Revisited). The goal of this program is to outline rod spherules within mouse eyes for further study. I have attended several research confrences to present our works, which as been well received.

    In my free time I enjoy crochet projects, drawing turtles, and playing with my kitten. Sophia showed up in my backyard one day, and we have gotten really close. Right now, she's sprawled across my lap and naping. You'll notice that my portfolio is monster themed. For the last 4 years, I have been working on a children's learning app I call "Monster School." My goal is to have an app that provides children in preschool through second grade school subjects through a series of games. Each game will adress a topic such as reading or science that will progressivley get harder or easier based on the child's needs. I choose the monster theme becase you can't draw a monster wrong, and I wanted to provide an enviroment where the children felt supported and safe to express themselves.</p>

  </main>
</ion-content>
