<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="all">
    <main>
      <h1>About Me</h1>
  
      <ion-img src="../assets/BambooBuilder.png"></ion-img>
  
      <p>The artwork for this app and the Monster School series is done by Lane Lee. The images are based off of an artistic spin of monsters that my sister, Kyrie, and I created. If you would like to contact him regarding his art, please visit here.</p>
  
    </main>
  </ion-content>
  